<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="login.css">
    <script src="login.js"></script>
    <title>Login</title>
</head>

<body>
    <div id="caixa">
        <div class="login">
            <div style="display:block; font-size:10px; margin-bottom:-5px"></div>
            <input type="text" id="username">
        </div>

        <div class="usuario">
            <input type="password" id="passw">
        </div>

        <div class="entrada">
            <button onclick="batata()">entrar</button>
        </div>
    </div>
</body>

</html>