<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro</title>
</head>

<body>
    <div id="caixa">
        <div class="register">
            <div style="display:block; font-size:10px; margin-bottom:-5px"></div>
            <input type="text" id="username">
        </div>

        <div class="usuario">
            <input type="password" id="passw">
        </div>

        <div class="usuario">
            <input type="password" id="check_passw">
        </div>

        <div class="entrada">
            <button onclick="batata()">entrar</button>
        </div>
    </div>
</body>

</html>