<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="register.css">
    <title>Cadastro</title>
</head>

<body>

    <div id="caixa">
        <div class="nickname">
            <input type="password" id="passw">
        </div>

        <div class="passworld">
            <input type="password" id="check_passw">
        </div>

        <div class="confirm">
            <input type="password" id="passw">
        </div>

        <div class="cadastro">
            <button onclick="batata()">cadastro</button>
        </div>

        <div class="voltar">
            <button onclick="batata()">voltar</button>
        </div>

    </div>

</body>

</html>