<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/contato.css') }}">
    <title>Contato</title>
</head>
<body>

<div class=abaNa>
    <div id="menu-frente">
        <img src="http://api.tumblr.com/v2/blog/URL.tumblr.com/avatar/96/">

        <div class="menu-hover">
            <div class="menu-nome"><a href="http://127.0.0.1:5000/tutoriais">Tutoriais</a></div>
        </div>
    </div>
    <div id="menu-frente2">
        <img src="http://api.tumblr.com/v2/blog/URL.tumblr.com/avatar/96/">

        <div class="menu-hover2">
            <div class="menu-nome2"><a>Quiz</a></div>
        </div>
    </div>
    <div id="menu-frente3">
        <img src="http://api.tumblr.com/v2/blog/URL.tumblr.com/avatar/96/">

        <div class="menu-hover3">
            <div class="menu-nome3"><a href="http://127.0.0.1:5000/contato">Contato</a></div>
        </div>
    </div>

    <div id="home">
        <a href="">HOME</a>
    </div>
</div>
<div>
    <div class="main_contact">
                    <pre class="contact_styling">
                Espero que tenha gostado do site, caso queira sugerir melhorias ou falar comigo, por favor utilize algum dos meios abaixo



                Informações para contato:
                </pre>
        <table class="contact_styling">
            <tr>
                <th>
                    <img class="contact_img" src="{{ url_for('static', filename='images/GmailIcon.png') }}">
                </th>
                <th>
                    E-mail:
                    <a class="reference_address" href="mailto:joaovbsevero@gmail.com">joaovbsevero@gmail.com</a>
                    <a class="reference_address" href="mailto:frederico.iepsen@acad.pucrs.br">frederico.iepsen@acad.pucrs.br</a>
                    <a class="reference_address" href="mailto:pedro.rogosk@edu.pucrs.br">pedro.rogosk@edu.pucrs.br</a>
                    <a class="reference_address" href="mailto:luiza.lencina@edu.pucrs.br">luiza.lencina@edu.pucrs.br</a>
                    <a class="reference_address" href="mailto:luis.lima97@edu.pucrs.br">luis.lima97@edu.pucrs.br</a>
                    <a class="reference_address" href="mailto:ad.medronha@gmail.com">ad.medronha@gmail.com</a>
                </th>
            </tr>
            <tr>
                <th>
                    <img class="contact_img" src="{{ url_for('static', filename='images/LinkedinIcon.png') }}">
                </th>
                <th>
                    Linkedin:
                    <a class="reference_address" target="_blank"
                       href="https://www.linkedin.com/in/jo%C3%A3o-vitor-severo-a2b5aa165/">Linkedin João Severo</a>
                    <a class="reference_address" target="_blank"
                       href="">Linkedin Frederico Iepsen</a>
                    <a class="reference_address" target="_blank"
                       href="">Linkedin Pedro Rogosk</a>
                    <a class="reference_address" target="_blank"
                       href="">Linkedin Luiza Lencina</a>
                    <a class="reference_address" target="_blank"
                       href="">Linkedin Luis Lima</a>
                    <a class="reference_address" target="_blank"
                       href="">Linkedin Adilson Medronha</a>
                </th>

            </tr>
            <tr>
                <th>
                    <img class="contact_img"
                         src="{{ url_for('static', filename='images/FacebookIcone.png') }}">
                </th>
                <th>
                    Facebook:
                    <a class="reference_address" target="_blank"
                       href="https://www.facebook.com/joaovitor.bernardisevero">Facebook João Severo</a>
                    <a class="reference_address" target="_blank"
                       href="">Facebook Frederico Iepsen</a>
                    <a class="reference_address" target="_blank"
                       href="">Facebook Pedro Rogosk</a>
                    <a class="reference_address" target="_blank"
                       href="">Facebook Luis Lima</a>
                    <a class="reference_address" target="_blank"
                       href="">Facebook Adilson Medronha</a>
                </th>

            </tr>
        </table>

        <table class="contact_styling">
            <tr>
                <th>
                    <img class="contact_img" src="{{ url_for('static', filename='images/GitHubIcone.png') }}">
                </th>
                <th>
                    GitHub:
                    <a class="reference_address" target="_blank" href="https://github.com/jojo0severo">GitHub João
                        Severo</a>
                    <a class="reference_address" target="_blank" href="https://github.com/jojo0severo">GitHub Frederico
                        Iepsen</a>
                    <a class="reference_address" target="_blank" href="">GitHub Pedro Rogosk</a>
                    <a class="reference_address" target="_blank" href="">GitHub Luiza Lencina</a>
                    <a class="reference_address" target="_blank" href="">GitHub Luis Lima</a>
                    <a class="reference_address" target="_blank" href="">GitHub Adilson Medronha</a>
                </th>
            </tr>

        </table>
    </div>
</div>

<p style="padding: 100px;"></p>

</body>
</html>