<!DOCTYPE html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles/home.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

</head>

<body>

    <div class=abaNa>
        <div id="menu-frente">
            <img src="http://api.tumblr.com/v2/blog/URL.tumblr.com/avatar/96/">

            <div class="menu-hover">
                <div class="menu-nome"><a href="">QUIZ</a></div>
            </div>
        </div>
        <div id="menu-frente2">
            <img src="http://api.tumblr.com/v2/blog/URL.tumblr.com/avatar/96/">

            <div class="menu-hover2">
                <div class="menu-nome2"><a href="">TUTORIAL</a></div>
            </div>
        </div>
        <div id="menu-frente3">
            <img src="http://api.tumblr.com/v2/blog/URL.tumblr.com/avatar/96/">

            <div class="menu-hover3">
                <div class="menu-nome3"><a href="">CONTATO</a></div>
            </div>
        </div>

        <div id="home">
            <a href="">HOME</a>
        </div>
    </div>

    <!-- parte 2 - teste -->
    <div class="bgx">

        <div id="content">

            <div id="header">

            </div>

            <div id="sidebar">

            </div>



            <div id="main">
            </div>


            <div id="footer">
            </div>

        </div>
    </div>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
    <li><input></li>
</body>

</html>