<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/styles/login.css">
    <script src="../static/scripts/login.js"></script>

    <title>Login</title>
</head>

<body>
    <div id="caixa">
        <div class="login">
            <li>Login</li>
            <div style="display:block; font-size:10px; margin-bottom:-5px"></div>
            <input type="text" id="username">
        </div>

        <div class="usuario">
            <input type="password" id="passw">
        </div>

        <div class="entrada">
            <button onclick="login()">Entrar</button>
        </div>

        <div class="cadastro">
            <button onclick="window.location.href='{{ url_for('register') }}';">Cadastro</button>
        </div>

    </div>
</body>

</html>