.abaNa {
    background: #ADD8E6;
    top: -10px;
    margin-left: -15px;
    width: 3500px;
    height: 150px;
    position: relative;
}

#menurotativo {
    position: absolute;
    width: 1500px;
    height: 150px;
    margin-top: 25px;
    padding: 2px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 40px;
    text-align: center;
}

#menurotativo a {
    background-color: #ADD8E6;
    top: 60px;
    margin-left: 130px;
    transition: .10s;
    border-radius: 100px 100px 100px 100px;
    opacity: 10;
    display: inline-block;
    line-height: 15px;
    text-shadow: 1px 1px 1px #000;
    border: 3px solid #4682B4;
    width: 90px;
    height: 90px;
}

#menurotativo img {
    position: fixed;
    display: inline-block;
    border-radius: 100px 100px 100px 100px;
    width: 70px;
    height: 70px;
    margin-bottom: 25px;
}

#menurotativo a:hover {
    background: #4682B4;
    transition: 1s;
}

body {
    background: #f8ece0;
    color: #828282;
    font-family: tahoma;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: justify;
}

#menu-frente {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 7px;
    border-radius: 100px 100px 100px 100px;
    background: #A8B9CC;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .3), 1px 1px 1px rgba(255, 255, 255, .3);
    overflow: hidden;
}

#menu-frente img {
    position: fixed;
    display: inline-block;
    border-radius: 100px 100px 100px 100px;
    width: 80px;
    height: 80px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

#menu-frente .menu-hover {
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 100px 100px 100px 100px;
    width: 80px;
    height: 0px;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    font-family: calibri;
    text-shadow: -1px -1px rgba(0, 0, 0, .5);
    font-size: 11px;
    letter-spacing: .5px;
    font-weight: bold;
    font-style: italic;
    overflow: hidden;
    transition: 1s;
}

.menu-hover a {
    color: #fff;
}

#menu-frente:hover .menu-hover {
    height: 80px;
    transition: .3s;
}

.menu-hover .menu-nome {
    display: block;
    margin-top: -20px;
    margin-left: 0px;
    width: 80px;
    text-align: center;
    font-family: 'Calibri';
    text-shadow: -1px -1px rgba(0, 0, 0, .5);
    font-size: 11px;
    letter-spacing: .5px;
    font-weight: bold;
    font-style: italic;
    overflow: hidden;
    transition: 1s;
}

.menu-nome a {
    color: #fff;
}

#menu-frente:hover .menu-nome {
    margin-top: 25px;
    transition: 1s;
}


/* --- links  - */

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}


/* --- meio  - */

#content {
    width: 820px;
    background: #cccccc;
    margin: auto;
}


/* --- topo  - */

#header {
    background: #ccc;
    background-repeat: no-repeat;
    width: 820px;
    height: 208px;
    margin-left: auto 0px;
}


/* --- final  - */

#footer {
    background: url('http://static.tumblr.com/2jiprob/4l6md2h3m/footer.png');
    background-repeat: no-repeat;
    background-position: bottom;
    width: 820px;
    height: 157px;
    clear: both;
}


/* --- sidebar  - */

#sidebar {
    background: #e9d6c4;
    opacity: 0.4;
    /* --- retire  - */
    width: 290px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}


/* --- postagens  - */

#main {
    background: #e9d6c4;
    opacity: 0.4;
    /* --- retire  - */
    width: 500px;
    float: right;
    position: relative;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}