<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tutorial.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>Tutoriais</title>
</head>

<body>

    <div class=abaNa>
        <div id="menu-frente">
            <img src="{{ url_for('static', filename='images/tutorialicone.jpg') }}">

            <div class="menu-hover">
                <div class="menu-nome"><a href="http://127.0.0.1:5000/tutoriais">Tutoriais</a></div>
            </div>
        </div>
        <div id="menu-frente2">
            <img src="{{ url_for('static', filename='images/quizicone.png') }}">

            <div class="menu-hover2">
                <div class="menu-nome2"><a href="http://127.0.0.1:5000/quiz">Quiz</a></div>
            </div>
        </div>
        <div id="menu-frente3">
            <img src="{{ url_for('static', filename='images/contatoicone.png') }}">

            <div class="menu-hover3">
                <div class="menu-nome3"><a href="http://127.0.0.1:5000/contato">Contato</a></div>
            </div>
        </div>

        <div id="home">
            <a>HOME</a>
        </div>
    </div>
<div id="frase">
    <center>Tutorial</center>
</div>

<div id="downcute">
    {% for tutorial_name in tutoriais %}
        <a id="{{ tutorial_name }}" onclick="window.location.replace('http://127.0.0.1:5000/tutorial/' + this.id);">
            <center>{{ tutorial_name }}</center>
            <ul>
                <center>VOCÊ SABERIA O QUE FAZER?</center>
            </ul>
        </a>
    {% endfor %}
</div>
<div class="cadastro">
    <button onclick="window.location.replace('http://127.0.0.1:5000/home')">Voltar</button>
</div>
</body>

</html>