<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles/tutorial.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>Tutoriais</title>
</head>

<body>

    <div class=abaNa>
        <div id="menu-frente">
            <img src="http://api.tumblr.com/v2/blog/URL.tumblr.com/avatar/96/">

            <div class="menu-hover">
                <div class="menu-nome"><a href="http://127.0.0.1:5000/tutoriais">Tutoriais</a></div>
            </div>
        </div>
        <div id="menu-frente2">
            <img src="http://api.tumblr.com/v2/blog/URL.tumblr.com/avatar/96/">

            <div class="menu-hover2">
                <div class="menu-nome2"><a href="/link">Quiz</a>
                </div>
            </div>
        </div>
        <div id="menu-frente3">
            <img src="http://api.tumblr.com/v2/blog/URL.tumblr.com/avatar/96/">

            <div class="menu-hover3">
                <div class="menu-nome3"><a href="http://127.0.0.1:5000/contato">Contato</a></div>
            </div>
        </div>

        <div id="home">
            <a>HOME</a>
        </div>
    </div>
    <div id="frase">
        <center>Tutorial</center>
    </div>

    <div id="downcute">
        <a href="">
            <center>INCÊNDIO</center>
            <ul>
                <center>VOCÊ SABERIA O QUE FAZER?</center>
            </ul>
        </a>
        <a href="">
            <center>ENCHENTE</center>
            <ul>
                <center>VOCÊ SABERIA O QUE FAZER?</center>
            </ul>
        </a>
        <a href="">
            <center>DESLIZAMENTOS</center>
            <ul>
                <center>VOCÊ SABERIA O QUE FAZER?</center>
            </ul>
        </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    </div>


    {% for tutorial_name in tutoriais %}
    <button id="{{ tutorial_name }}" onclick="window.location.replace('http://127.0.0.1:5000/tutorial/' + this.id);">{{ tutorial_name }}</button> {% endfor %}

    <button onclick="window.location.replace('http://127.0.0.1:5000/home')">Voltar</button>
</body>

</html>