#downcute {
    width: 200px;
    height: auto;
    border: solid 1px #A8B9CC;
    margin-left: 200px;
    margin-top: 100px;
    line-height: 90px;
    position: fixed;
    padding: 20px;
}

#downcute button {
    opacity: 1;
    -webkit-transition-duration: .80s;
    -moz-transition-duration: .80s;
    -o-transition-duration: .80s;
    -ms-transition-duration: .80s;
    float: left;
    display: inline-block;
    font: 20px PF Arma Five;
    width: 200px;
    padding: 5px;
    height: 30px;
    color: #ccc;
    text-transform: none;
    font-style: normal;
    background-color: #4682B4;
    margin-left: -5px;
    margin-top: 20px;
}

#downcute button:hover {
    color: black;
    background: #A8B9CC;
    -webkit-transition-duration: .80s;
    -moz-transition-duration: .80s;
    -o-transition-duration: .80s;
    -ms-transition-duration: .80s;
}

#downcute button ul {
    background-color: #A8B9CC;
    color: black;
    width: 300px;
    height: 30px;
    position: fixed;
    margin-top: -28px;
    font-family: PF Arma Five;
    font-size: 15px;
    overflow: hidden;
    text-align: left;
    -webkit-transition-duration: .80s;
    -moz-transition-duration: .80s;
    -o-transition-duration: .80s;
    -ms-transition-duration: .80s;
    text-indent: -38px;
    opacity: 0;
}

#pergunta {
    width: auto;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    line-height: 20px;
}

#pergunta a {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
}